__pycache__/
docker/terraform/.terraform/
dev/key_consumer_cert.crt
docker/certs/nginx.crt
docker/certs/nginx.key
docker/terraform/terraform-plugins/
docker/terraform/terraform.tfstate
config/auth/
config/backend
dev/tmp/
docker/terraform/tf-cache/
